// Mixins for repeated styles
=cc($color)
  color: $color !important

=bg($color)
  background-color: $color !important

=bc($color)
  border-style: solid
  border-color: $color !important

// Colors
.c
  &-white
    +cc($white)
  &-dark
    +cc($dark)
  &-blue
    +cc($blue)
  &-pink
    +cc($pink)
  &-violet
    +cc($violet)
  &-light
    +cc($light)
  &-grey
    +cc($grey)
  &-orange
    +cc($orange)
  &-yellow
    +cc($yellow)
  &-green
    +cc($green)
  &-theme
    +cc($theme)
  &-medium
    +cc($medium)
  &-red
    +cc($red)
  &-grd
    +cc($grd)

// Background Colors
.bg
  &-white
    +bg($white)
  &-dark
    +bg($dark)
  &-blue
    +bg($blue)
  &-light
    +bg($light)
  &-grey
    +bg($grey)
  &-pink
    +bg($pink)
  &-orange
    +bg($orange)
  &-yellow
    +bg($yellow)
  &-green
    +bg($green)
  &-theme
    +bg($theme)
  &-medium
    +bg($medium)
  &-red
    +bg($red)
  &-violet
    +bg($violet)

// Border Colors
.bc
  &-white
    +bc($white)
  &-dark
    +bc($dark)
  &-blue
    +bc($blue)
  &-light
    +bc($light)
  &-grey
    +bc($grey)
  &-pink
    +bc($pink)
  &-orange
    +bc($orange)
  &-yellow
    +bc($yellow)
  &-green
    +bc($green)
  &-theme
    +bc($theme)
  &-medium
    +bc($medium)
  &-red
    +bc($red)
  &-violet
    +bc($violet)

.b-none
  border: none !important

.bg-tr
  background-color: transparent !important
