$dark: #090909
$grey: #858585
$medium: #131313
$light: #F3F5FF
$blue: #21A6FF
$pink: #FF2790
$yellow: #f0a731
$violet: #4E18AD
$orange: #FF3F40
$red: #BE1969
$green: #99b142
$white: #fff
$theme: #808CEB

$grd: linear-gradient(90deg, #4E7BF5, #A541FD)

$basic: 'Outfit', sans-serif

=placeholder
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
